# ---------------------------------------
# Project Environment Variables
# ---------------------------------------

# Email credentials for sending password reset emails
MAIL_SENDER=your_email@example.com       # Replace with the project email provided by the team lead
MAIL_PASSWORD=your_app_password          # Replace with the app password of the project email

# Secret key for JWT authentication and password reset tokens
SECRET_KEY=your_secret_key_here          # Replace with the secret key provided

#'cp .env.example .env'     use this command to create your own .env file
# Remember to keep this file secure and do not share it publicly.